.card {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card__header {
  /* Estilos para el encabezado de la card */
}

.card__title {
  /* Estilos para el título de la card */
}

.card-image {
  width: 100%;
  height: auto;
}

.card__body {
  /* Estilos para el cuerpo de la card */
}

.card__content {
  /* Estilos para el contenido textual de la card */
}

@media (max-width: 320px) {
  .card {
    width: 90%;
  }
}


@media (min-width: 576px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 30%;
  }
}
