.home__footer {
  margin-top: 20px;
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  position: relative;
}

.home__footer p {
  margin: 0;
  font-size: 16px;
}

.home__footer a {
  color: #ffd700;
  text-decoration: none;
  margin: 0 10px;
}

.home__footer a:hover {
  text-decoration: underline;
}
